
main{
    width: 50%;

}

p{
    font-size: 1.25em;
}

.border{
    border: 1px solid black;
    overflow: hidden;
    padding: 10px;
}

#flight1{
    float: left;
}

#flight2{
    float: right;
}

#flight3{
    float: left;
}

#flight4{
    float: right;
}