body{
    width: 1280px;
    margin: auto;
    padding: 50px;
    background-color: lightgray;
}

.main{
    background-image: url("header.jpg");
    padding: 25px;
    width: 1280px;
}
header{
    font-size: 25px;
    color: white;
    background-repeat: no-repeat;
}

nav{width: auto;
    background-color: black;}

nav a {
    color: white;
    font-size: 20px;
    word-spacing: 25px;
}
.foto{
    background-image: url("foto pc.jpg");
    padding: 25px;
    width: auto;
    height: auto;

}